*{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: Nunito;
}

.header-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
}

.dark-mode {
  margin-right: 64px;
  cursor: pointer;
}
.title{
  margin-left: 64px;
}

main{
  margin-left: 64px;
}

.back-button{
  margin-top: 64px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.3);
  padding: 4px 45px;
  border-radius: 4px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform ease-in-out 0.2s;
}
.back-button:hover{
  transform: scale(1.02);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
}
.mains-container{
  width: 500px;
}

.content-container{
  margin-top: 64px;
}

.mains-container img{
  margin-top: 64px;
  width: 100%;
}

.container{
  display: flex;
  gap: 64px;
}

.content-container2{
  margin-top: 120px;

}

.border-boundary{
  margin-top: 22px;
  display: flex;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
  flex-shrink: unset;
}

.border-boundary p{
  display: inline;
}

.border-boundary a{
  padding-inline: 20px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  font-weight: 500;
  cursor: pointer;
  transition: transform ease-in-out 0.2s;
  outline: none;
  text-decoration: none;
  color: black;
}
.border-boundary a:hover{
  transform: scale(1.02);
  box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.2);
}
/* @media(max-width:700px)
{
  .mains-container img{
    margin-top: 64px;
    width: 400px;
  }   
  .border-boundary{
    display: none;
  }
  .container{
    display: none;
  }
} */